@page "/about"


<div id="main-section-header" class="row">
    <h2>About</h2>
</div>
<div id="about" class="main-section-content row">
    <div>
        <h3 class="section-title">Telerik Northwind Dashboard for ASP.NET AJAX</h3>
        <p>The Telerik Northwind Dashboard is a web application built with <a href="http://www.telerik.com/products/aspnet-ajax.aspx">Telerik UI for ASP.NET AJAX</a> - 100+ UI components to help you build awesome .NET WebForms applications for any device twice as fast.</p>
        <p>The sample app showcases some of the most popular UI for ASP.NET AJAX components, such as Scheduler, Grid, TabStrip, Charts and Map and is touch enabled. It has a simple and responsive UI based on <a href="http://getbootstrap.com/">Bootstrap</a> and works on a wide range of devices.</p>

        <p>The application is aimed at executives, analysts, or sales representatives. It helps them establish targets based on insights into historical data as well as monitor sales and product performance in real time.</p>

        <a class="download-btn" href="#"><span>Get Source Code for Telerik Northwind Dashboard</span></a>
    </div>
    <div class="section-white">

        <div class="row">
            <div class="col-lg-4">
                <h3 class="section-title">Featured UI for ASP.NET AJAX Controls</h3>
                <div class="row">
                    <ul class="col-xs-12">
                        <li><a href="http://demos.telerik.com/aspnet-ajax/datepicker/overview/defaultcs.aspx">Date Picker</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/dropdownlist/examples/overview/defaultcs.aspx">DropDownList</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/combobox/examples/overview/defaultcs.aspx">ComboBox</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/grid/examples/overview/defaultcs.aspx">Grid</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/listview/examples/overview/defaultcs.aspx">ListView</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/scheduler/examples/overview/defaultcs.aspx">Scheduler</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/tabstrip/examples/overview/defaultcs.aspx">TabStrip</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/tooltip/examples/overview/defaultcs.aspx">Tooltip</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/htmlchart/examples/overview/defaultcs.aspx">HtmlChart</a></li>
                        <li><a href="http://demos.telerik.com/aspnet-ajax/map/examples/overview/defaultcs.aspx">Map</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <h3 class="section-title">See More Sample Apps</h3>
                <div class="row">
                    <div class="app-item col-xs-6 col-lg-3">
                        <a href="http://demos.telerik.com/aspnet-ajax/webmail/">
                            <img src="../Content/About/web-mail.png" title="Web Mail" alt="Olympic Games" /><br />
                            <span>Web Mail</span>
                        </a>
                    </div>
                    <div class="app-item col-xs-6 col-lg-3">
                        <a href="http://demos.telerik.com/aspnet-ajax/imagegallery/">
                            <img src="../Content/About/tripxpert.png" title="Image Gallery" alt="Image Gallery" /><br />
                            <span>Image Gallery</span>
                        </a>
                    </div>
                    <div class="app-item col-xs-6 col-lg-3">
                        <a href="http://demos.telerik.com/aspnet-ajax/sample-applications/olympic-games/">
                            <img src="../Content/About/olympic-games.png" title="Olympic Games" alt="Olympic Games" /><br />
                            <span>Olympic Games</span>
                        </a>
                    </div>
                    <div class="app-item col-xs-6 col-lg-3">
                        <a href="http://demos.telerik.com/aspnet-ajax/sample-applications/diagram-app/">
                            <img src="../Content/About/diagramming-tool.png" title="Diagramming Tool" alt="Diagramming Tool" /><br />
                            <span>Diagraming Tool</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    //private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
