@inherits LayoutComponentBase

<TelerikRootComponent>

        <div class="container-fluid">
            <!--open container-->
            <div class="row">
                <div id="nav-section" class="col-xs-12 column">
                    <NavMenu />
                    <ChangeCultureComponent/>
                </div>

                <div id="main-section" class="col-xs-12 column stretch">
                    @Body
                </div>
            </div>
        </div>

</TelerikRootComponent>